:root {
  --accent: hsl(81, 56%, 51%);
  --accent-soft: hsl(81, 56%, 70%);

  --secondary: hsl(233, 11%, 16%);
  --secondary-soft: hsl(233, 11%, 40%);

  --primary: hsl(0, 0%, 100%);
  --primary-soft: hsl(0, 0%, 85%);

  --background: var(--primary);

  --text: var(--secondary);
  --text-accent: var(--accent);
  --text-soft: var(--secondary-soft);
  --text-on-dark-background: var(--primary);
  --text-on-dark-background-soft: var(--primary-soft);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  color: var(--text);
  background: var(--background);
}
